#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align:center;
    color:#3E363F;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #49c6e5;
}
body {
    background-color: #49c6e5;
}
header {
    background-color: #49c6e5;
}
nav a:hover {
    background-color: #49c6e5;
    color: #C2F970;
}
.book, .join {
    background-color: #49c6e5;
    color: #3E363F;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #49c6e5;
    color: #C2F970
}
.msg {
    background-color: #49c6e5;
}
footer {
    background-color: #49c6e5;
    color: #3E363F
}
footer a {
    color: #3E363F;
    text-decoration: none;
}
footer a:hover {
    color: #C2F970
}
.home-title {
    color: #3E363F
}
h4{
    color: #3E363F
}
.msg h2 {
    color: #3E363F
}
.msg p {
    color: #3E363F
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width:100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}