@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rubik+Marker+Hatch&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px;
}
nav a {
    text-align:center;
    color:#3E363F;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "Rubik Marker Match", Arial, Helvetica, sans-serif;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #49c6e5;
}
body {
    background-color: #49c6e5;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #49c6e5;
}
nav a:hover {
    background-color: #49c6e5;
    color: #C2F970;
}
.book, .join {
    background-color: #16444f;
    color: #C2F970;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #C2F970;
    color: #16444f;
    border-radius: 5px;
}
.msg {
    background-color: #49c6e5;
    font-family: "Rubik Marker Match", Arial, Helvetica, sans-serif;
    padding: 35px;
}
footer {
    background-color: #49c6e5;
    color: #3E363F;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #3E363F;
    text-decoration: none;
}
footer a:hover {
    color: #C2F970
}
.home-title {
    color: #3E363F;
    font-family: "Rubik Marker Match", Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    font-family: "Rubik Marker Match", Arial, Helvetica, sans-serif;
    margin: 0;
}
h4{
    color: #3E363F;
    font-family: "Rubik Marker Match", Arial, Helvetica, sans-serif;
}
.msg h2 {
    color: #3E363F;
    font-family: "Rubik Marker Match", Arial, Helvetica, sans-serif;
}
.msg p {
    color: #3E363F;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width:100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #C2F970;
}