@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tienne:wght@400;700;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    background-color:#FDFBF0;
    margin: 0;
    padding: 0;
    height: 100%;
}
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 0.5px solid #ef8552;
  }
  header {
    font-family: 'Tienne', serif;
    color: #4a3b31;
  }
  h2, h3 {
    font-family: 'Tinos', serif;
    color: #4a3b31;
    text-shadow: 2px 2px 4px rgba(232,181,82, 0.6)
  }
  .main-nav {
    display: flex;
    gap: 40px;
    margin-top: 15px;
  }
  .logo img {
    height: 150px;
    width: auto;
    display: block;
  }
  .main-nav a {
    text-decoration: none;
    color: #4a3b31;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .main-nav a:hover {
    color: #E8b552;
    background-color: #4a3b31;
  }
.intro-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }
.intro-section.reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.intro-image {
    width: 40%;
    border-radius: 60px;
}
.intro-image img {
    object-fit: cover;
}
  .intro-text {
    width: 60%;
    text-align: left;
}
  .note-text {
    width: auto;
    text-align: center;
    margin: 0 25%;
  }
  .note-text p {
    font-size: 1.1rem;
    font-family: 'Commissioner', serif;
  }
  .intro-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .intro-text p {
    font-size: 1.25rem;
    font-family: 'Commissioner', serif;
  }
  .features-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    text-align: center;
  } 
  .feature {
    flex: 1;
    padding: 20px;
    border: 2px solid #ef8552;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(210, 107, 58, 0.5);
  }
  .feature h3 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #4a3b31;
  }
  .feature p {
    font-size: 1.25rem;
    font-family: 'Commissioner', serif;
    color: #4a3b31;
  }
  .bottom-image img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 40px auto;
    border-radius: 10px;
  }
  footer {
    background-color: #FDFBF0;
    padding: 20px 60px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    color: #4a3b31;
  }
  .footer-nav a {
    text-decoration: none;
    color: #4a3b31;
    gap: 20px;
    font-weight: 500;
  }
  .footer-nav a:hover {
    color: #E8b552;
    background-color: #4a3b31;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 1px 2px;
  }
  /* code for form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #4a3b31; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4a3b31;
  color: #E8b552;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #E8b552;
  color:#4a3b31;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #FDFBF0;
  padding: 20px;
}
label {
    color: #4a3b31;
}
  @media (max-width: 768px) {
    .features-section,
    .intro-section,
    .intro-section.reverse  {
      flex-direction: column;
      gap: 20px;
    }
    .intro-image,
    .intro-text {
        width:100%;
    }
}